FlexOffers.Importer/packages/
FlexOffers.Importer/FlexOffers.Importer.Service.Processor/obj/
FlexOffers.Importer/FlexOffers.Importer/bin/
FlexOffers.Importer/FlexOffers.Importer/obj/
FlexOffers.Importer/FlexOffers.Importer.Engine/obj/
FlexOffers.Importer/FlexOffers.Importer.Common/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FlexOffers.Importer/FlexOffers.Importer.Common/obj/
